body{
    background:
            linear-gradient(to bottom right,
            transparent 0%,
            #7f99b6 50%,

            transparent 100%
            );
    background-size:cover;
    font-size: 16px;
}
.form{
    background: rgba(255,255,255,0.2);
    width:400px;
    margin:200px auto;
}

#form-head{
    width: 100%;
}

#register_form{
    width: 400px;
}

.fa{
    display: inline-block;
    top: 27px;
    left: 6px;
    position: relative;
    color: #ccc;
}
input[type="text"],input[type="password"],input[type="email"]{
    height: 50px;
    padding-left:10px;
}

#div_btn{
    padding-top: 10px;
}

#register_btn{
    padding-top:10px;
    width: 100%;
}